h1{
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;

}

html {
    text-align: center;
    font-family: monospace;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#calc {
    display: flex;
    min-height: 95vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    
}

#container {
    background-color: black;
    border: 10px solid rgba(47,47,47,1);
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    gap: 2px;
}

#display {
    grid-column: 1 / -1;
    background-color: #b2b9b7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 5px;
    font-size: 5.5em;
    font-weight: initial;
    text-shadow: 1.3px 1.3px #383838;
    margin: 5px;
}

button {
    margin: 1px;
    border-radius: 5%;
    border: none;
    font-weight: initial;
    font-size: 2em;
    font-family: monospace;
    color: black;
}


#zero {
    grid-column: span 2;
}

.operator {
    background-color: #FF8F1F;    
}

.operator:focus {
    background-color: #ffc183;
}

.equals {
    background-color: #FF8F1F;
}

.equals:active {
    background-color: #0d0d0c;
}

.operand {
    background-color: #0fb54e;
}

.operand:active {
    background-color: #33b9bb;
}

.decimal {
    background-color: #217C7E;
}

.decimal:active {
    background-color: #33b9bb;
}

.clear {
    background-color: rgb(255, 109, 30);
}

.clear:active {
    background-color: rgb(123, 189, 255);
}

.sign {
    background-color: dodgerblue;
}

.sign:active {
    background-color: rgb(123, 189, 255);
}

.percent {
    background-color: dodgerblue;
}

.percent:active {
    background-color: rgb(123, 189, 255);
}

html {
    text-align: center;
    font-family: monospace;
}

#calc {
    display: flex;
    min-height: 95vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;

    
}

#container {
    background-color: black;
    border: 10px solid rgba(47,47,47,1);
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(6, 80px);
    gap: 2px;
}

#display {
    grid-column: 1 / -1;
    background-color: #b2b9b7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 5px;
    font-size: 5.5em;
    font-weight: initial;
    text-shadow: 1.3px 1.3px #383838;
    margin: 5px;
}

button {
    margin: 1px;
    border-radius: 5%;
    border: none;
    font-weight: initial;
    font-size: 2em;
    font-family: monospace;
    color: black;
}


#zero {
    grid-column: span 2;
}

.ln{
    background-color: #5758BB;
    font-weight: bold;
}

/* Changes the color of the onclick button when user */
.ln:active{
    background-color: #797be0;
}

.squared{
    background-color: #5758BB;
    font-weight: bold;
}

/* Changes the color of the onclick button when user */
.squared:active{
    background-color: #797be0;
}

.sqrt{
    background-color: #5758BB;
    font-weight: bold;
}

/* Changes the color of the onclick button when user */
.sqrt:active{
    background-color: #797be0;
}

.cubedroot{
    background-color: #5758BB;
    font-weight: bold;
}

/* Changes the color of the onclick button when user */
.cubedroot:active{
    background-color: #797be0;
}

.operator {
    background-color: #ff1fa9;    
}

.operator:focus {
    background-color: #ffc183;
}

.equals {
    background-color: #5758BB;
}

.equals:active {
    background-color: #ffc183;
}

.operand {
    background-color: #31b7d5;
}

.operand:active {
    background-color: #33b9bb;
}

.decimal {
    background-color: dodgerblue;
}

.decimal:active {
    background-color: #33b9bb;
}

.clear {
    background-color: dodgerblue;
}

.clear:active {
    background-color: rgb(123, 189, 255);
}

.sign {
    background-color: dodgerblue;
}

.sign:active {
    background-color: rgb(123, 189, 255);
}

.percent {
    background-color: dodgerblue;
}

.percent:active {
    background-color: rgb(123, 189, 255);
}

